* {
    font-family: 'Montserrat', sans-serif !important;
}

img {
    max-width: 100%;
}

.logo {
    width: 200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.top-bar {
    border-bottom: 1px solid #eeeeee;
}

.top-bar-support {
    font-size: 0.75rem;
    margin-top: 7px;
    color: #000000;
    font-weight: 500;
}

.nav-sm .nav-item a {
    font-size: 0.65rem;
    color: #303f9f;
    font-weight: 500;
}

.header-nav {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0;
}

nav .navbar-nav li a {
    color: #303f9f !important;
}

nav .navbar-nav li a:hover {
    color: #000000 !important;
}

.hero-home {
    display: flex;
    min-height: 70vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-image: url('https://draxs.github.io/prestige-website/assets/images/hero-1.jpg');
    background-size: cover;
    background-position: center;
}

.hero-villa {
    display: flex;
    min-height: 35vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-image: url('assets/images/hero-villa.jpg');
    background-size: cover;
    background-position: center;
}

.villa-image-container {
    height: 480px;
    width: 100%;
}

.villa-thumbs-container img {
    margin-bottom: 15px;
}

.btn-check {
    background-color: #ff9800;
    color: #ffffff;
}

.btn-check:hover {
    background-color: #2196f3;
    color: #ffffff;
}

.btn-prestige {
    padding: 25px 30px;
    line-height: 1.1rem !important;
}

.header-booking-form {
    padding: 40px;
    background-color: #ffffff;
    margin-top: -50px;
}

.main-nav-form {
    background-color: #ff9800;
}

.intro-text {
    margin: 50px 0;
}

.prestige-card-footer-cta {
    background-color: #ff9800;
    color: #ffffff;
    cursor: pointer;
}

.prestige-card-footer-cta:hover {
    background-color: #2196f3;
    color: #ffffff;
}

.sidebar-box {
    padding: 20px;
    margin-bottom: 22px;
}

ul.feature-list {
    list-style: none;
    padding-left: 0;
}

ul.feature-list li {
    position: relative;
    padding-left: 25px;
}

ul.feature-list li:before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    background-image: url('https://draxs.github.io/prestige-website/assets/svg/square.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.flights-image {
    border: 1px solid #cccccc;
    max-width: 130px;
    border-radius: 3px;
}

/* social share */

.Share {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.Share ul {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

.Share ul li {
    display: inline-block;
    margin: 0;
    padding: 0 3px;
}

.Share img {
    width: 17px;
    height: 17px;
}