---
layout: default
type: villa
bedrooms: 2
language: en
title: Diana's Heights
seotitle: Diana's Heights, Peyia, 2 Bedrooms, 2 Bathrooms
description: 
image: /assets/gallery/dianas-heights/01-w1920.jpg
permalink: /dianas-heights-coral-bay-paphos-cyprus
---
<!-- section -->
<div class="section gray-bg-color">
    <div class="container">
        <div class="villa-title">
            <div class="row align-items-end">
                <div class="col-md-9">
                    <h1 class="">Diana's Heights</h1>
                    <h4 class="ft-300 ">Peyia, 2 Bedrooms, 2 Bathrooms</h4>
                </div>
                <div class="col-md-3 text-center">
                    <img class="img-sm" src="assets/images/exclusive.png" alt="Exclusive Paphos Holiday Villa">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <!-- slider -->
                <div class="row">
                    <div class="col">
                        <div class="owl-carousel carousel-large">
                            {% for image in site.static_files %}
                                {% if image.path contains 'gallery/dianas-heights' %}
                                {% assign myhash = image.path | remove_first:'/assets/gallery/' %}
                                {% assign img = image.path | remove_first:'/' %}
                                <div class="item" data-hash="{{ myhash }}">
                                    <div class="villa-slide" data-src="{{ img | prepend: SourceUrl }}"></div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="villa-thumbs-container">
                            <div class="owl-carousel carousel-thumbs">
                                {% for thumb in site.static_files %}
                                    {% if thumb.path contains 'thumbs/dianas-heights' %}
                                    {% assign tt = thumb.path | remove_first:'/assets/thumbs/' %}
                                    {% assign tmb = thumb.path | remove_first:'/' %}
                                    <div class="item">
                                        <a class="button secondary url" href="#{{ tt }}" title="thumb nav">
                                            <div class="villa-thumb" style="background-image: url('{{ tmb | prepend: SourceUrl }}');"></div>
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./slider -->
                
            </div>
            <!-- booking Sidebar -->
            <div class="col-lg-3">
                <div class="sidebar-box villa-features-box white-bg-color">
                    <h4 class="ft-500">Diana's Heights</h4>
                    <div class="row font-md ft-500">
                        <div class="col-6">
                            City: Paphos
                        </div>
                        <div class="col-6">
                            Area: Peyia
                        </div>
                    </div>
                    <div class="row font-md ft-500">
                        <div class="col-6">
                            2 Bedrooms
                        </div>
                        <div class="col-6">
                            2 Bathrooms
                        </div>
                    </div>
                    <div class="row font-md ft-500">
                        
                        <div class="col-6">
                            1 Verandas
                    </div>
                
                
                    </div>
                </div>
            </div>
            <!-- ./booking -->
        </div>
    </div>
</div>
<!-- ./section -->




{% include villa-slider.html %}