---
layout: default
type: villa
bedrooms: 4
language: en
title: Bella Katerina
seotitle: Villa Bella Katerina, Coral Bay, 4 Bedrooms, 3 Bathrooms
description: "Villa Bella Katerina is accessed via double entrance gates leading onto a large tiled driveway that has a turning..."
image: /assets/gallery/bella-katerina/17-w1920.jpg
permalink: /villa-bella-katerina-coral-bay-paphos-cyprus
---
<!-- section -->
<div class="section gray-bg-color">
    <div class="container">
        <div class="villa-title">
            <div class="row align-items-end">
                <div class="col-md-9">
                    <h1 class="">Villa Bella Katerina</h1>
                    <h4 class="ft-300 ">Coral Bay, 4 Bedrooms, 3 Bathrooms</h4>
                </div>
                <div class="col-md-3 text-center">
                    <img class="img-sm" src="assets/images/exclusive.png" alt="Exclusive Paphos Holiday Villa">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <!-- slider -->
                <div class="row">
                    <div class="col">
                        <div class="owl-carousel carousel-large">
                            {% for image in site.static_files %}
                                {% if image.path contains 'gallery/bella-katerina' %}
                                {% assign myhash = image.path | remove_first:'/assets/gallery/' %}
                                {% assign img = image.path | remove_first:'/' %}
                                <div class="item" data-hash="{{ myhash }}">
                                    <div class="villa-slide" data-src="{{ img | prepend: SourceUrl }}"></div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="villa-thumbs-container">
                            <div class="owl-carousel carousel-thumbs">
                                {% for thumb in site.static_files %}
                                    {% if thumb.path contains 'thumbs/bella-katerina' %}
                                    {% assign tt = thumb.path | remove_first:'/assets/thumbs/' %}
                                    {% assign tmb = thumb.path | remove_first:'/' %}
                                    <div class="item">
                                        <a class="button secondary url" href="#{{ tt }}" title="thumb nav">
                                            <div class="villa-thumb" style="background-image: url('{{ tmb | prepend: SourceUrl }}');"></div>
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./slider -->
                <!-- short description -->
                <div class="row">
                    <div class="col">
                        <p>Villa Bella Katerina is accessed via double entrance gates leading onto a large tiled driveway that has a turning island and substantial parking area. The villa design takes full advantage of the beautiful sea views enabling them to be seen from first floor bedrooms and the open aspect ground floor kitchen and lounge areas. This 4 bedroom villa also benefits from WiFi and air conditioned/heated bedrooms if required.<a href="#villa-description">Read more...</a></p>
                    </div>
                </div>
                <!-- ./short description -->
                <!-- tabs -->
                <div class="row">
                    <div class="col">
                        <div class="divider-md"></div>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-inside-tab" data-toggle="tab" href="#nav-inside" role="tab" aria-controls="nav-inside" aria-selected="true">Inside</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Outside</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Distances</a>
                                <a class="nav-item nav-link" id="nav-print-tab" data-toggle="tab" href="#nav-print" role="tab" aria-controls="nav-print" aria-selected="false">Fine Print</a>
                            </div>
                        </nav>
                        <div class="tab-content white-bg-color" id="nav-tabContent"> 
                            <div class="tab-pane fade show active" id="nav-inside" role="tabpanel" aria-labelledby="nav-inside-tab">
                                <div class="row">
                                    <div class="col-md-3">
                                        <ul class="feature-list">
                                            <li>Cooker</li>
                                            <li>Fridge</li>
                                            <li>Freezer</li>
                                            <li>Microwave</li>
                                            <li>Toaster</li>
                                            <li>Kettle</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="feature-list">
                                            <li>Washing machine</li>
                                            <li>Iron</li>
                                            <li>Free Internet TV</li>
                                            <li>DVD player</li>
                                            <li>Free Wifi</li>
                                            <li>Free High chair (if required)</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-5">
                                        <ul class="feature-list">
                                            <li>Free Infant Cot (if required)</li>
                                            <li>Hair dryer</li>
                                            <li>Safe</li>
                                            <li>Air conditioning (charged extra)</li>
                                            <li>Linen provided</li>
                                            <li>Towels provided</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="feature-list">
                                            <li>Private outdoor pool (unheated)</li>
                                            <li>Huge Private Garden</li>
                                            <li>BBQ area</li>
                                            <li>Balcony or terrace</li>
                                            <li>Boat Hire available</li>
                                            <li>Bicycle Hire available</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="feature-list">
                                            <li>Table Tennis</li>
                                            <li>Secure parking</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="row">
                                    <div class="col">
                                        <ul class="feature-list">
                                            <li>Beach: 1.5km</li>
                                            <li>Restaurants: 1km</li>
                                            <li>Shops: 1.5km</li>
                                            <li>Car Hire: Recommended</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-print" role="tabpanel" aria-labelledby="nav-print-tab">
                                <div class="row">
                                    <div class="col">
                                        <ul class="feature-list">
                                            <li>Arrival from 16:00 on arrival day</li>
                                            <li>Departure by 10:00 on departure day</li>
                                            <li>Airconditioning €6.00 per aircon per day</li>
                                            <li>Pool Heating - €65.00 per day. Must be booked at least 3 days before arrival and for full duration of stay</li>
                                            <li>Central Heating - €30.00 per day. Must be booked at least 3 days before arrival and for full duration of stay</li>
                                            <li>Spa Package/Jacuzzi/Sauna - Jacuzzi with our compliments (subject to availability)</li>
                                            <li>Refundable Security Deposit - €300 pre-authorised by debit/credit card on arrival</li>
                                            <li>Function/Wedding Fee - €500 payable on arrival (Maximum function guests 40)</li>
                                            <li>Maximum Occupancy - 9 including children</li>
                                            <li>Pets - No pets allowed</li>
                                            <li>Single Gender - No hen or stag parties accepted</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tabs -->
            </div>
            <!-- booking Sidebar -->
            <div class="col-lg-3">
                <div class="sidebar-box villa-features-box white-bg-color">
                    <h4 class="ft-500">Villa Bella Katerina</h4>
                    <div class="row font-md ft-500">
                        <div class="col-md-6">
                            City: Paphos
                        </div>
                        <div class="col-6">
                            Area: Coral Bay
                        </div>
                    </div>
                    <div class="row font-md ft-500">
                        <div class="col-6">
                            4 Bedrooms
                        </div>
                        <div class="col-6">
                            3 Bathrooms
                        </div>
                    </div>
                    <div class="row font-md ft-500">
                        <div class="col-6">
                            1 Verandas
                        </div>
                        <div class="col-6">
                            Family Games area
                        </div>
                    </div>
                    <div class="row font-md ft-500">
                        <div class="col">
                            250 m2 Covered Area
                        </div>
                    </div>
                    <div class="row justify-content-center font-md ft-500">
                        <div class="col">
                            <iframe title="availabality" src="https://www.availabilitycalendar.com/embed/EC0rk5g9T-n48f6qEJRqPs2gH03K1hKjWdQOdLDCCds/en-0-1-1-1-0-0-0-0-0-0-0-1-0/" height="380" width="100%" frameborder="0" allowtransparency="true"></iframe>
                        </div>
                    </div>
                    <form action="https://app.thebookingbutton.com/" class="ibe" data-region="emea" data-channelcode="prestigebookdirect" target="_blank">
                        <input type="hidden" name="room_type" value="29556" >
                        {% include bookingform.html %}
                    </form>
                    <div class="row font-md ft-500">
                        <div class="col">
                            <p class="t-m-20">Please note that a minimum stay of 4 nights is required</p>
                        </div>
                    </div>
                </div>
                
                <div class="row font-md ft-500">
                    <div class="col">
                        <!-- TrustBox widget - Micro Review Count -->
                        <div class="trustpilot-widget" data-locale="en-US" data-template-id="5613c9cde69ddc09340c6beb" data-businessunit-id="5d610cc3790ba3000132cd5c" data-style-height="100%" data-style-width="100%" data-theme="light">
                        <a href="https://www.trustpilot.com/review/prestigebookings.com" target="_blank" rel="noopener">Trustpilot</a>
                        </div>
                        <!-- End TrustBox widget -->
                    </div>
                </div>
            </div>
            <!-- /booking -->
        </div>
    </div>
</div>
<!-- ./section -->

<div class="section gray-bg-color">
    <div class="elfsight-app-1fe38294-7f4a-45fc-93dc-87db2f3440fc"></div>
</div>

<!-- section full description -->
<div class="section" id="villa-description">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Ground Floor</h3>
                <p>Double entrance doors lead into the large, bright, open plan lounge and dining area with patio doors opening to a full length covered terrace. A small hall to the left leads to a shower room and a twin bedroom complete with fitted wardrobes. Also to the left is the large kitchen which offers extended living space comprising another lounge and dining area. The utility room leads from the kitchen and has a door leading to the outside terrace and barbecue area at the side of the property.</p>
                <h3>First Floor</h3>
                <p>A marble staircase leads to the first floor and the double bedroom with walk-in dressing room and en-suite shower room, and two further twin bedrooms, both with fitted wardrobes, and share a spacious bathroom.
                All the upstairs bedrooms have access to a large shared balcony providing another area to relax and enjoy the sun setting over the sea. All bedrooms are air conditioned/heated payable locally if required.</p>
                <h3>Outside area</h3>
                <p>Patio doors from the lounge/ dining areas lead to a covered terrace, private pool and garden area. This area is surrounded by gardens and panoramic views over the sea and the Peyia foothills. There is a lawn with borders, fruit trees and a perimeter hedge for complete privacy. The large private pool takes center stage amongst this perfect setting – a perfect ingredient for a fabulous Cyprus holiday.<br>
                The famous blue flag award Coral Bay Beach, is found just 1.5km distance from the villa. We highly recommend the hiring of a car, which will greatly enhance the options available on your holiday. Should you wish to opt for airport transfers, we can sort this for you also.
                <p>Designed with your comfort and living needs in mind, Villa Bella Katerina is fully equipped and promises to fulfil all of your expectations, and provide you with an exceptional, and unforgettable holiday experience.</p>
                <h3>Accessibility</h3>
                <p>There are a couple of steps for entry to the villa, but a twin bedroom and bathroom are located on the ground floor. Villa Bella Katerina is suitable for people with mild mobility difficulties. The doors are normal doors and would not pass a wheelchair.</p>
                <h3>Coast/Beach</h3>
                <p>The beautiful beach resort of Coral Bay is often described as the best bay on the west of the island. And it’s no surprise, when you consider the calm turquoise sea, dipping gently into some of the clearest off shore diving space in the Mediterranean, the scattered palm trees, the 600 meters of soft white sand and, in summertime, the almost cloudless blue skies. Coral Bay is a 5 minute drive from the villa.</p>
                <h3>Golf</h3>
                <p>4 Championship golf courses within a 30 min drive.</p>
                <h3>Skiing</h3>
                <p>Skiing is possible in Troodos during January to March</p>
                <h3>Akamas National Park</h3>
                <p>Located in the west of Cyprus the Akamas National Park is possibly the most picturesque corner of the island. Covering approximately 230 square kilometers the Akamas peninsula is where you will find wild landscape, amazing natural beauty, deep gorges, and wide sandy bays. The diversity of wildlife is of outstanding ecological importance for the Mediterranean and the wide variety of fauna is certainly impressive. Here you can find 168 different varieties of birds, 12 different mammals, 20 different reptiles and 16 different species of butterfly.<br>
                The importance of the Akamas Peninsula is recognized far beyond the shores of Cyprus. The European Council has included the Akamas Peninsula within its Mediterranean protection programme and within Cyprus; Friends of the Earth and Greenpeace are campaigning hard for the Akamas Peninsula to be declared a National Park.</p>
            </div>
        </div>
    </div>
</div>
<!-- ./section full description -->  

<!-- section map -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Location</h3>
                <div class="divider-md"></div>
            </div>
        </div>
    </div>
    <iframe title="google map" src="https://maps.google.ie/maps?q=34.87065,32.36776&amp;num=1&amp;t=h&amp;hl=en&amp;ie=UTF8&amp;z=14&amp;output=embed" width="100%" height="550" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>
<!-- ./section map --> 
{% include villa-slider.html %}