<div class="form-row">
    <div class="col">
        <label for="checkin">Check In</label>
        <input name="check_in_date" type="date" class="form-control" id="checkin" required>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <label for="checkout">Check Out</label>
        <input name="check_out_date" type="date" class="form-control" id="checkout" required>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <label for="adults">Adults</label>
        <select name="number_adults" class="custom-select mr-sm-2" id="adults">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>
    <div class="col">
        <label for="children">Children</label>
        <select name="number_children" class="custom-select mr-sm-2" id="children">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <button type="submit" class="btn btn-check btn-block text-uppercase ft-500 font-md">Check Availability</button>
    </div>
</div>