<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include seotags.html %}
    <link rel="icon" href="{{ '/assets/images/star.png' | prepend: SourceUrl }}" sizes="57x57"/>
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | prepend: SourceUrl  }}">
    <link rel="stylesheet" href="{{ '/assets/owlcarousel/owl.carousel.min.css' | prepend: SourceUrl  }}">
    <link rel="stylesheet" href="{{ '/assets/owlcarousel/owl.theme.default.min.css' | prepend: SourceUrl  }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: SourceUrl  }}">
    <link rel="stylesheet" href="{{ '/assets/css/pushy.css' | prepend: SourceUrl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&amp;subset=cyrillic" rel="stylesheet">
    <link rel="canonical" href="{{ page.url | replace:'index.html' | prepend: SourceUrl }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/owl.carousel.js' | prepend: SourceUrl  }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38627012-1"></script>

    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <!-- End TrustBox script -->

    <script src="https://apps.elfsight.com/p/platform.js" defer></script>

    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-38627012-1');
    </script>
    <script type="text/javascript" id="cookieinfo"
	src="//cookieinfoscript.com/js/cookieinfo.min.js"
	data-bg="#645862"
    data-fg="#FFFFFF"
    data-divlinkbg="#ff9800"
	data-link="#ff9800"
	data-cookie="CookieInfoScript"
	data-text-align="left"
       data-close-text="Got it!">
</script>

<!-- Start of Sleeknote signup and lead generation tool - www.sleeknote.com -->
<script id="sleeknoteScript" type="text/javascript">
    (function (){
         var sleeknoteScriptTag=document.createElement("script");
         sleeknoteScriptTag.type="text/javascript";
         sleeknoteScriptTag.charset="utf-8";
         sleeknoteScriptTag.src=("//sleeknotecustomerscripts.sleeknote.com/27944.js");
         var s=document.getElementById("sleeknoteScript");
        s.parentNode.insertBefore(sleeknoteScriptTag, s);
    })(); </script>
    <!-- End of Sleeknote signup and lead generation tool - www.sleeknote.com -->

</head>