<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include seotags.html %}
    <link rel="icon" href="{{ '/assets/images/star.png' | prepend: SourceUrl }}" sizes="57x57"/>
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.css' | prepend: SourceUrl  }}">
    <link rel="stylesheet" href="{{ '/assets/owlcarousel/owl.carousel.min.css' | prepend: SourceUrl  }}">
    <link rel="stylesheet" href="{{ '/assets/owlcarousel/owl.theme.default.min.css' | prepend: SourceUrl  }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: SourceUrl  }}">
    <link rel="stylesheet" href="{{ '/assets/css/pushy.css' | prepend: SourceUrl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&amp;subset=cyrillic" rel="stylesheet">
    <link rel="canonical" href="{{ page.url | replace:'index.html' | prepend: SourceUrl }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/owl.carousel.js' | prepend: SourceUrl  }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
</head>