{% assign shareurl = page.url | replace:'index.html' | prepend: SourceUrl  %}
<div class="Share">
    <h6 class="text-center">Share</h6>
    <ul>
        <li><a href="https://twitter.com/share?url={{ shareurl }}&amp;hashtags=prestigebookings" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/svg/twitter-logo.svg' | prepend: SourceUrl }}" alt="Share on Twitter"></a></li>
        <li><a href="http://www.facebook.com/sharer.php?u={{ shareurl }}"target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/svg/facebook-letter-logo.svg' | prepend: SourceUrl }}" alt="Share on Facebook"></a></li>
        <li><a href="http://pinterest.com/pin/create/button/?url={{ shareurl }}" target="_blank" rel="noopener noreferrer" class="pin-it-button" count-layout="horizontal">
            <img src="{{ '/assets/svg/pinterest.svg' | prepend: SourceUrl }}" title="Pin It" />
        </a></li>   		
    </ul>
</div>