<div class="social">
    <ul>
        <li><a href="https://www.youtube.com/user/greekvine" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/svg/youtube.svg' | prepend: SourceUrl }}" alt="Youtube"></a></li>
        <li><a href="https://www.facebook.com/prestigebookings" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/svg/facebook-letter-logo-black.svg' | prepend: SourceUrl }}" alt="Facebook"></a></li>
        <li><a href="https://twitter.com/PrestigeBookins" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/svg/twitter-black.svg' | prepend: SourceUrl }}" alt="Twitter"></a></li>
        
        <li><a href="http://prestigebookings.tumblr.com/" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/svg/tumblr-letter-logo.svg' | prepend: SourceUrl }}" alt="Tumblr"></a></li>

        <li><a href="https://twitter.com/PrestigeBookins" target="_blank" rel="noopener noreferrer"><img src="{{ '/assets/svg/instagram-logo.svg' | prepend: SourceUrl }}" alt="Instagram"></a></li>
    </ul>
</div>