---
layout: default
type: page
language: en
title: Paphos 2 Bedroom Villas
description: "A selection of 2 Bedroom Luxury Villas with private pools in Coral Bay & Peyia"
seotitle: Paphos 2 Bedroom Villas
image: /assets/gallery/dianas-heights/03-w1920.jpg
permalink: /paphos-2-bedroom-villas
---
<div class="container section">
    <h3 class="ft-500 text-center">A selection of 3 Bedroom Luxury Villas with private pools in Coral Bay & Peyia</h3>
    <h3 class="ft-400 text-center">Quality Time Holidays With Family & Friends</h3>
</div>
<div class="container">
    <div class="border-bottom-dark-gray"></div>
</div>
<div class="container section">
    <div class="row sm-gutters">
        {% for page in site.pages %}
            {% if page.bedrooms == 2 %}	
            {% if page.title %}
            {% assign img = page.image | remove_first:'/' %}
            <div class="col-lg-3 col-md-6">
                <div class="villa-card">
                    <img src="{{ img | prepend: SourceUrl }}" class="card-img-top" alt="">
                    <div class="villa-card-body">
                        <h5 class="villa-card-title">{{ page.title }}</h5>
                        <p class="villa-card-text font-sm">{{ page.description | truncatewords: 15 }}</p>
                    </div>
                    <div class="villa-card-footer text-center">
                        <a href="{{ page.permalink | prepend: SourceUrl | remove_first:'/' }}" class="btn btn-check btn-block text-uppercase ft-500 font-md card-btn">View This Villa</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}				
        {% endfor %}
    </div>
</div>

