---
layout: default
type: page
language: en
title: Paphos 5 Bedroom Villas
description: "Stunning 5 Bedroom Deluxe villa is located on a quiet exclusive street yet just a short drive away from the beaches, shops and restaurants that Coral Bay has to offer"
seotitle: Paphos 5 Bedroom Villas
image: /assets/gallery/nicholas/01-w1920.jpg
permalink: /paphos-5-bedroom-villas
---
<div class="container section">
    <h3 class="ft-500 text-center">A selection of 5 Bedroom Luxury Villas with private pools in Coral Bay & Peyia</h3>
    <h3 class="ft-400 text-center">Quality Time Holidays With Family & Friends</h3>
</div>
<div class="container">
    <div class="border-bottom-dark-gray"></div>
</div>
<div class="container section">
    <div class="row sm-gutters justify-content-center">
        {% for page in site.pages %}
            {% if page.bedrooms == 5 %}	
            {% if page.title %}
            {% assign img = page.image | remove_first:'/' %}
            <div class="col-lg-3 col-md-6">
                <div class="villa-card">
                    <img src="{{ img | prepend: SourceUrl }}" class="card-img-top" alt="elite-villa.jpg">
                    <div class="villa-card-body">
                        <h5 class="villa-card-title">{{ page.title }}</h5>
                        <p class="villa-card-text font-sm">{{ page.description | truncatewords: 20 }}</p>
                    </div>
                    <div class="villa-card-footer text-center">
                        <a href="{{ page.permalink | prepend: SourceUrl | remove_first:'/' }}" class="btn btn-check btn-block text-uppercase ft-500 font-md card-btn">View This Villa</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}				
        {% endfor %}
    </div>
</div>
