---
layout: default
type: villa
bedrooms: 3
language: en
title: Elite
description: ""
permalink: /villa-elite-coral-bay-paphos-cyprus
---
<!-- section -->
<div class="section gray-bg-color">
    <div class="container">
        <div class="villa-title">
            <div class="row align-items-end">
                <div class="col-md-9">
                    <h1 class="">Villa Elite</h1>
                    <h4 class="ft-300 ">Coral Bay, 3 Bedrooms, 2 Bathrooms</h4>
                </div>
                <div class="col-md-3 text-center">
                    <img class="img-sm" src="assets/images/exclusive.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <!-- slider -->
                <div class="row">
                    <div class="col">
                        <div class="owl-carousel carousel-large">
                            {% for image in site.static_files %}
                                {% if image.path contains 'gallery/elite' %}
                                {% assign myhash = image.path | remove_first:'/assets/gallery/' %}
                                <div class="item" data-hash="{{ myhash }}">
                                    <div class="villa-slide" style="background-image: url('{{ image.path }}');"></div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="villa-thumbs-container">
                            <div class="owl-carousel carousel-thumbs">
                                {% for thumb in site.static_files %}
                                    {% if thumb.path contains 'thumbs/elite' %}
                                    {% assign tt = thumb.path | remove_first:'/assets/thumbs/' %}
                                    <div class="item">
                                        <a class="button secondary url" href="#{{ tt }}">
                                            <div class="villa-thumb" style="background-image: url('{{ thumb.path }}');"></div>
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./slider -->
                <!-- short description -->
                <div class="row">
                    <div class="col">
                        <p>Elite villa is ideally located for those who want to be close to everything. The villa is located a mere 150m from the main street of Coral Bay, yet is very private allowing you to get away from it all. This super 3 bedroom villa offers everything required for a quality time holiday with family and friends. <a href="#villa-description">Read more...</a></p>
                        <div class="divider-md"></div>
                    </div>
                </div>
                <!-- ./short description -->
                <!-- tabs -->
                <div class="row">
                    <div class="col">
                        <div class="divider-md"></div>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-inside-tab" data-toggle="tab" href="#nav-inside" role="tab" aria-controls="nav-inside" aria-selected="true">Inside</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Outside</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Distances</a>
                            </div>
                        </nav>
                        <div class="tab-content white-bg-color" id="nav-tabContent"> 
                            <div class="tab-pane fade show active" id="nav-inside" role="tabpanel" aria-labelledby="nav-inside-tab">
                                <div class="row">
                                    <div class="col-md-3">
                                        <ul class="feature-list">
                                            <li>Electric Oven</li>
                                            <li>Electric Hob</li>
                                            <li>Fridge/Freezer</li>
                                            <li>Microwave</li>
                                            <li>Toaster</li>
                                            <li>Kettle</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="feature-list">
                                            <li>Washing machine</li>
                                            <li>Iron</li>
                                            <li>Free Internet TV</li>
                                            <li>DVD player</li>
                                            <li>Free Wifi</li>
                                            <li>Free High chair (if required)</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-5">
                                        <ul class="feature-list">
                                            <li>Free Infant Cot (if required)</li>
                                            <li>Hair dryer</li>
                                            <li>Safe</li>
                                            <li>Air conditioning (charged extra)</li>
                                            <li>Linen provided</li>
                                            <li>Towels provided</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="feature-list">
                                            <li>Private outdoor pool 8 x 4 (unheated)</li>
                                            <li>Private Garden</li>
                                            <li>BBQ area</li>
                                            <li>Balcony or terrace</li>
                                            <li>Boat Hire available</li>
                                            <li>Bicycle Hire available</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="feature-list">
                                            <li>Secure parking</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="row">
                                    <div class="col">
                                        <ul class="feature-list">
                                            <li>Beach: 900m</li>
                                            <li>Supermarket: 400m</li>
                                            <li>Restaurants: 150m</li>
                                            <li>Car Hire: Not Required</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tabs -->
            </div>
            <!-- booking Sidebar -->
            <div class="col-lg-3">
                <div class="sidebar-box white-bg-color">
                    <h4 class="ft-500">Villa Elite</h4>
                    <div class="row font-md ft-500">
                        <div class="col-md-6">
                            City: Paphos
                        </div>
                        <div class="col-md-6">
                            Area: Peyia
                        </div>
                    </div>
                    <div class="row font-md ft-500">
                        <div class="col-md-6">
                            3 Bedrooms
                        </div>
                        <div class="col-md-6">
                            2 Bathrooms
                        </div>
                    </div>
                    <div class="row font-md ft-500">
                        <div class="col-md-6">
                            1 Guest WC
                        </div>
                        <div class="col-md-6">
                            1 Veranda
                        </div>
                    </div>
                    <p class="font-md ft-500">150 m2 Covered Area</p>
                    
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Check In">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Check Out">
                        </div>
                        <div class="form-group">
                            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Adults</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Children</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-check btn-block text-uppercase ft-500 font-md">Check Availability</button>
                    </form>
                </div>
                <div class="sidebar-box white-bg-color">
                    <img src="http://prestigebookings.com/wp-content/uploads/2018/01/1421135-300x300.png" alt="" title="1421135" itemprop="contentURL" scale="0">
                </div>
                <div class="sidebar-box white-bg-color">
                    <a href="http://www.tripadvisor.co.uk/RentalPropertyManager-a_manager.182704" target="_blank" rel="noopener noreferrer"><img src="http://prestigebookings.com/wp-content/uploads/2014/07/Tripadvisor6.jpg" alt="" title="Tripadvisor6" itemprop="contentURL" scale="0"></a>
                </div>
            </div>
            <!-- ./booking -->
        </div>
    </div>
</div>
<!-- ./section -->

<!-- section full description -->
<div class="section" id="villa-description">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Ground Floor</h3>
                <p>On entering Elite villa you will find a spacious and bright open plan lounge, kitchen and dining area. The lounge is equipped with comfortable seating for 6, a flat screen TV, DVD player and Free WI-FI, as well as Internet TV. The kitchen has lots of storage space and counter surface and is fully equipped with everything needed for a family of 6. Appliances here include a washing Machine and a microwave for you convenience. Also on the ground floor you will find the guest W.C. Access to your private swimming pool and garden is through the patio doors in the sitting room. The beautiful sandy Coral Bay beach is a mere 900m from the villa, and the main street with its selection of bars and restaurants is a mere 150m away.</p>
                <h3>First Floor</h3>
                <p>Directly at the top of the stairs you will find the 3 bedrooms and family bathroom. Bedroom 1 has 2 twin beds, air-conditioning and a ceiling fan. Bedroom 2 is also a twin room with access to the shared balcony overlooking the garden and private pool. This bedroom also has air-conditioning and a ceiling fan. The master bedroom next door is en-suite with a walk-in shower and also has access to the balcony overlooking the garden and pool. The bedroom also comes equipped with air-conditioning and a ceiling fan. The family bathroom on this floor is equipped with a full sizes bath and overhead shower.</p>
                <h3>Outside area</h3>
                <p>Surrounding Elite villa you will find the landscaped private garden, 8X4 swimming pool, Cypriot barbeque, and alfresco dining area.</p>
                <p>Designed with your comfort and living needs in mind, this exceptional villa promises to fulfil all of your expectations, and provide you with an exceptional, and unforgettable holiday experience.</p>
                <h3>Location – Paphos, Coral Bay</h3>
                <p>This family oriented area has become a lively resort with plenty to offer in terms of amenities and activities. The centre of the resort which features a wide selection of restaurants offering both Cypriot and International Cuisines, cafes, bars, shops, a choice of supermarkets, several banks, a chemist and a laundry within 1km of the villa.</p>
                <p>The resort boasts two sandy beaches, the busier of the two being the popular Coral Bay Beach, a sandy horseshoe shaped bay honoured with a Blue Flag of the European Union. Sunbeds and umbrellas are available for hire, watersports are on offer and there are two beach cafés providing refreshments.</p>
                <p>A little further along the coast you reach the natural rock caves of the area known locally as Sea Caves, an area which provides ideal snorkelling territory and is popular with local scuba diving schools.</p>
                <p>For a taste of the more traditional head to the tiny fishing hamlet of St Georges from where you can enjoy some of the islands most memorable sunset views and dine at one of the small collection of family run tavernas. For nature lovers the start of the protected Akamas Peninsula is just to the north of the village. Or you can head to the hillside village of Peyia, located just a few kilometres inland from Coral Bay to sample a traditional Cypriot meze meal at one of its small selection of long established tavernas and village coffee shops.</p>
                <p>Paphos Town approximately 20 kilometres away, was once the capital of the island is now included in the official UNESCO list of cultural and natural treasures of the world’s heritage. The remains of villas, palaces, theatres, fortresses and tombs mean that the town is of exceptional architectural and historic value. The well preserved mosaics and the Tombs of the Kings are probably the biggest cultural draw with further archaeological discoveries continually being made. Ano Pafos on the cliff is the main administrative centre and residential district while Kato Pafos, by the sea, is the main tourist area built around the harbour and medieval port.</p>
                <p>Mini golf, watersports and go-karting are all activities available in the immediate Coral Bay area. The Paphos Zoo and the Horse Riding Stables which cater for all ages are both within a 10 minute drive of the villa.</p>
                <p>Extend your exploring to encompass the town of Paphos and the list of available activities expands to include a bowling alley, waterpark, several Heritage sites, attractive harbour area and modern shopping facilities.</p>
                <p>There are 4 golf courses; Tsada Golf Course, Secret Valley Golf Course, Aphrodite Hills Golf Course and Elea Golf Course all within approximately a 30 minute drive.</p>
            </div>
        </div>
    </div>
</div>
<!-- ./section full description -->  

<!-- section map -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Location</h3>
                <div class="divider-md"></div>
            </div>
        </div>
    </div>
    <iframe src="https://maps.google.ie/maps?q=34.851612,32.380277&amp;num=1&amp;t=h&amp;hl=en&amp;ie=UTF8&amp;z=14&amp;output=embed" width="100%" height="550" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>
<!-- ./section map --> 

<script>
    $('.carousel-large').owlCarousel({
        items: 1,
        loop: true,
        center: true,
        margin: 5,
        nav: false,
        callbacks: true,
        URLhashListener: true,
        autoplayHoverPause: true,
        startPosition: 'URLHash'
        });
        $('.carousel-thumbs').owlCarousel({
        loop:true,
        items: 10,
        margin:5,
        nav: true,
        navText: ['<span class="carousel-nav carousel-nav-left"></span>', '<span class="carousel-nav carousel-nav-right"></span>'],
    })
    $('.owl-carousel').find('.owl-nav').removeClass('disabled');
    $('.owl-carousel').on('changed.owl.carousel', function(event) {
        $(this).find('.owl-nav').removeClass('disabled');
    });
    </script>