---
layout: default
type: villa
bedrooms: 3
language: en
title: Agios Ilias 1
description: "hese stunningly luxurious villas are ideal for families, groups, and couples. Located on a quiet street a short drive from the beach."
image: /assets/gallery/agios-ilias-1/02-w1920.jpg
permalink: /villa-agios-ilias-1-coral-bay-paphos-cyprus
---
<!-- section -->
<div class="section gray-bg-color">
    <div class="container">
        <div class="villa-title">
            <div class="row align-items-end">
                <div class="col-md-9">
                    <h1 class="">Villa Agios Ilias 1</h1>
                    <h4 class="ft-300 ">Coral Bay, 3 Bedrooms, 2 Bathrooms</h4>
                </div>
                <div class="col-md-3 text-center">
                    <img class="img-sm" src="assets/images/exclusive.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <!-- slider -->
                <div class="row">
                    <div class="col">
                        <div class="owl-carousel carousel-large">
                            {% for image in site.static_files %}
                                {% if image.path contains 'gallery/agios-ilias-1' %}
                                {% assign myhash = image.path | remove_first:'/assets/gallery/' %}
                                {% assign img = image.path | remove_first:'/' %}
                                <div class="item" data-hash="{{ myhash }}">
                                    <div class="villa-slide" style="background-image: url('{{ img | prepend: SourceUrl }}');"></div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="villa-thumbs-container">
                            <div class="owl-carousel carousel-thumbs">
                                {% for thumb in site.static_files %}
                                    {% if thumb.path contains 'thumbs/agios-ilias-1' %}
                                    {% assign tt = thumb.path | remove_first:'/assets/thumbs/' %}
                                    {% assign tmb = thumb.path | remove_first:'/' %}
                                    <div class="item">
                                        <a class="button secondary url" href="#{{ tt }}">
                                            <div class="villa-thumb" style="background-image: url('{{ tmb | prepend: SourceUrl }}');"></div>
                                        </a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./slider -->
                <!-- short description -->
                <div class="row">
                    <div class="col">
                        <p>These stunningly luxurious villas are ideal for families, groups, and couples. Located on a quiet street a short drive from the beach, Coral bay resort centre, and an array of restaurants, bars and shops, Agios ILias villas ensure you can spend a quality time holiday with family & friends. Standing in their own large and private gardens, and not overlooked by any other villas, Agios ILias villas are fitted out to the highest of standards, each with its own designer pool and stunning sea views. For larger families and groups, we can also offer our sister villa Agios ILias 2, which is situated directly next door and connected by a shared driveway. <a href="#villa-description">Read more...</a></p>
                        <div class="divider-md"></div>
                    </div>
                </div>
                <!-- ./short description -->
                <!-- tabs -->
                <div class="row">
                    <div class="col">
                        <div class="divider-md"></div>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-inside-tab" data-toggle="tab" href="#nav-inside" role="tab" aria-controls="nav-inside" aria-selected="true">Inside</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Outside</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Distances</a>
                            </div>
                        </nav>
                        <div class="tab-content white-bg-color" id="nav-tabContent"> 
                            <div class="tab-pane fade show active" id="nav-inside" role="tabpanel" aria-labelledby="nav-inside-tab">
                                <div class="row">
                                    <div class="col-md-3">
                                        <ul class="feature-list">
                                            <li>Cooker</li>
                                            <li>Fridge</li>
                                            <li>Freezer</li>
                                            <li>Microwave</li>
                                            <li>Toaster</li>
                                            <li>Kettle</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="feature-list">
                                            <li>Washing machine</li>
                                            <li>Dishwasher</li>
                                            <li>Free Internet TV</li>
                                            <li>DVD player</li>
                                            <li>Free Wifi</li>
                                            <li>Free High chair (if required)</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-5">
                                        <ul class="feature-list">
                                            <li>Free Infant Cot (if required)</li>
                                            <li>Hair dryer, Iron</li>
                                            <li>Safe</li>
                                            <li>Central Heating (charged extra)</li>
                                            <li>Air conditioning (charged extra)</li>
                                            <li>Linen provided</li>
                                            <li>Towels provided</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="feature-list">
                                            <li>Private outdoor pool 10 x 6 (unheated)</li>
                                            <li>Private Garden</li>
                                            <li>BBQ area</li>
                                            <li>Balcony or terrace</li>
                                            <li>Boat Hire available</li>
                                            <li>Bicycle Hire available</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="feature-list">
                                            <li>Secure parking</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div class="row">
                                    <div class="col">
                                        <ul class="feature-list">
                                            <li>Beach: 2Km</li>
                                            <li>Resort Centre: 2.4km</li>
                                            <li>Restaurants: 1km</li>
                                            <li>Car Hire: Essential</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tabs -->
            </div>
            <!-- booking Sidebar -->
            <div class="col-lg-3">
                <div class="sidebar-box white-bg-color">
                    <h4 class="ft-500">Villa Agios Ilias 1</h4>
                    <div class="row font-md ft-500">
                        <div class="col-md-6">
                            City: Paphos
                        </div>
                        <div class="col-md-6">
                            Area: Coral Bay
                        </div>
                    </div>
                    <div class="row font-md ft-500">
                        <div class="col-md-6">
                            3 Bedrooms
                        </div>
                        <div class="col-md-6">
                            2 Bathrooms
                        </div>
                    </div>
                    <div class="row font-md ft-500">
                        <div class="col-md-6">
                            1 Guest WC
                        </div>
                        <div class="col-md-6">
                            1 Veranda
                        </div>
                    </div>
                    <p class="font-md ft-500">157 m2 Covered Area</p>
                    
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Check In">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Check Out">
                        </div>
                        <div class="form-group">
                            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Adults</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Children</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-check btn-block text-uppercase ft-500 font-md">Check Availability</button>
                    </form>
                </div>
                <div class="sidebar-box white-bg-color">
                    <img src="http://prestigebookings.com/wp-content/uploads/2018/01/1421135-300x300.png" alt="" title="1421135" itemprop="contentURL" scale="0">
                </div>
                <div class="sidebar-box white-bg-color">
                    <a href="http://www.tripadvisor.co.uk/RentalPropertyManager-a_manager.182704" target="_blank" rel="noopener noreferrer"><img src="http://prestigebookings.com/wp-content/uploads/2014/07/Tripadvisor6.jpg" alt="" title="Tripadvisor6" itemprop="contentURL" scale="0"></a>
                </div>
            </div>
            <!-- ./booking -->
        </div>
    </div>
</div>
<!-- ./section -->

<!-- section full description -->
<div class="section" id="villa-description">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Ground Floor</h3>
                <p>On entering the villa you will immediately sense the cool luxurious surrounding provided by the quality fittings, high ceilings, and double glazed doors and windows. Here you will find the open plan living, dining, and kitchen areas, as well as a guest WC. The living area is fitted with quality leather furniture, large flat screen TV, and ceiling fans to keep you cool on those hot summer days. Opening directly onto your private designer pool, you will also find free Wi-Fi and internet TV, allowing you to keep in touch with the modern world, should you so wish. The kitchen area has been fitted out with quality appliances, granite worktops, and all the utensils and crockery required, for up to 6 people. The ground floor also benefits from underfloor central heating, providing warmth and comfort for those rare winter nights.</p>
                <h3>First Floor</h3>
                <p>The 1st floor consists of 3 good size air-conditioned bedrooms, as well as a family bathroom with full size bath and overhead shower. The master bedroom is large and spacious with built-in wardrobes, luxurious en-suite, and direct access to a shared balcony overlooking your designer swimming pool. Next door you will find a good sized twin room, with built-in wardrobes and direct access to shared balcony overlooking the pool. Next door again there is another good sized double room with built-in wardrobes, and direct access to a 2nd shared balcony. All balconies offer views over your private pool, and directly to the sea. The 1st floor is completed by a luxurious family bathroom, and underfloor central heating in all rooms if required.</p>
                <h3>Outside area</h3>
                <p>The outside area of each villa consists of a stunning designer swimming pool, surrounded by a massive sun terrace and gardens. Here you will find sunbeds for up to 7, an outdoor seating area, and alfresco dining for 6. The area is also equipped with a Cypriot style barbecue, and the surrounding gardens are planted with a variety of citrus fruits, olive trees, pomegranates, and palm trees to name but a few. The whole garden and sun terrace offer stunning views to the sea, as well as the surrounding banana plantations and orange groves.</p>
                <p>Designed with your comfort and living needs in mind, this exceptional villa of distinction promises to fulfil all of your expectations, and provide you with an exceptional, and unforgettable holiday experience.</p>
                <h3>Accessibility</h3>
                <p>The villa is accessible by a number of steps and would be suitable for people with mild mobility difficulties. The doors are normal doors and would not pass a wheelchair.</p>
                <h3>Coast/Beach</h3>
                <p>The beautiful beach resort of Coral Bay is often described as the best bay on the west of the island. And it’s no surprise, when you consider the calm turquoise sea, dipping gently into some of the clearest off shore diving space in the Mediterranean, the scattered palm trees, the 600 meters of soft white sand and, in summertime, the almost cloudless blue skies. Coral Bay is a 5 minute drive from the villa.
                Fishing, water sports, scuba diving, go-karting , cycling and golf (Minthis Hills Golf Course, Tsada Golf Course, Secret Valley Golf Course, Aphrodite Hills Golf Course and Elea Golf Course ).<br>
                The town of Paphos, just 20 minutes drive away offers modern shopping facilities, waterpark, Paphos Zoo</p>
                <h3>Golf</h3>
                <p>4 Championship golf courses within a 45 min drive.</p>
                <h3>Skiing</h3>
                <p>Skiing is possible in Troodos during January to March</p>
                
                <h3>Akamas National Park</h3>
                <p>Located in the west of Cyprus the Akamas National Park is possibly the most picturesque corner of the island. Covering approximately 230 square kilometers the Akamas peninsula is where you will find wild landscape, amazing natural beauty, deep gorges, and wide sandy bays. The diversity of wildlife is of outstanding ecological importance for the Mediterranean and the wide variety of fauna is certainly impressive. Here you can find 168 different varieties of birds, 12 different mammals, 20 different reptiles and 16 different species of butterfly.<br>
                The importance of the Akamas Peninsula is recognized far beyond the shores of Cyprus. The European Council has included the Akamas Peninsula within its Mediterranean protection programme and within Cyprus; Friends of the Earth and Greenpeace are campaigning hard for the Akamas Peninsula to be declared a National Park.</p>
            </div>
        </div>
    </div>
</div>
<!-- ./section full description -->  

<!-- section map -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Location</h3>
                <div class="divider-md"></div>
            </div>
        </div>
    </div>
    <iframe src="https://maps.google.ie/maps?q=34.87189,32.36297&amp;num=1&amp;t=h&amp;hl=en&amp;ie=UTF8&amp;z=14&amp;output=embed" width="100%" height="550" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>
<!-- ./section map --> 

<script>
    $('.carousel-large').owlCarousel({
        items: 1,
        loop: true,
        center: true,
        margin: 5,
        nav: false,
        callbacks: true,
        URLhashListener: true,
        autoplayHoverPause: true,
        startPosition: 'URLHash'
        });
        $('.carousel-thumbs').owlCarousel({
        loop:true,
        items: 10,
        margin:5,
        nav: true,
        navText: ['<span class="carousel-nav carousel-nav-left"></span>', '<span class="carousel-nav carousel-nav-right"></span>'],
    })
    $('.owl-carousel').find('.owl-nav').removeClass('disabled');
    $('.owl-carousel').on('changed.owl.carousel', function(event) {
        $(this).find('.owl-nav').removeClass('disabled');
    });
    </script>